.quest{

	background-color: rgb(153, 221, 255);
	width: 60%;
	height: 250px;
	margin-left: 20%;
	margin-top:10%;
	text-align: center;
	border-radius: 10px;
}

.inicioquest{

	background-color: rgb(153, 221, 255);
	width: 60%;
	height: 800px;
	margin-left: 20%;
	margin-top:5%;
	text-align: center;
	border-radius: 10px;


}

.questfinal{

	background-color: rgb(153, 221, 255);
	width: 60%;
	height: 550px;
	margin-left: 20%;
	margin-top:10%;
	text-align: center;
	border-radius: 10px;

}